{# src/Jone/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
<section id="intro" data-speed="6" data-type="background" >
   	<div id="da-slider" class="da-slider">
		{% for entity in entities2 %}
		<div class="da-slide">
			<h2>{{ entity.propertyName }}</h2>
			<p>{{ entity.propertyDetail }}</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img"><img class="round" src="{{ entity.propertyImage }}" alt="image01" /></div>
		</div>
		{% endfor %}
		<nav class="da-arrows">
			<span class="da-arrows-prev"></span>
			<span class="da-arrows-next"></span>
		</nav>
	</div>
</section>	
	<section id="home1" data-speed="6" data-type="background">
		<div class="container-fluid">
			<div class="col-md-12">			
				<div class="col-md-6 mtop">	
				 	<h2>Latest Project</h2>			
						{% for entity in entities %}
							<div id="latest_project">
								<a href="{{ path('property') }}"><img src= "{{ entity.propertyImage }}" /></a>
							</div>						
								<h2>{{ entity.propertyName }}</h2>
								<p>{{ entity.propertyDetail }}</p>
								
						{% endfor %}		
				</div>	
						 				
				<div class="col-md-3 mtop">	
				 	<h2>Amenities</h2>
					<p>
						24 hour guard service <br/>
						Laundry Facilities <br/>
						Free wifi Access <br/>
						Canteen and store <br/>
						Clean Rooms <br/>
						Parking space and garage 			
					</p>				
				</div>	
				<div class="col-md-2 mtop no-pleft">	
				 	<h2>Facilities</h2>	
						<p>
							Warehouse<br/>
							Storages<br/>
							Spas<br/>
							Swimming Pool
						</p>				
				</div>	
			</div
 		</div>
	</section>	
		 
		 <section id="about" data-speed="4" data-type="background">
		 	<div class="container-fluid">
			 	<div class="jumbotron">
				 	<div class="col-md-4">			 	
				 	<h1>About us</h1>
						<img id="about_us_img" src="/bundles/joneblog/images/office.jpg"/>
					</div>
					
					<div class="col-md-8 mtop">
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
							sed diam nonummy nibh euismod tincidunt ut laoreet dolore 
							magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
							quis nostrud exerci tation ullamcorper suscipit lobortis nisl
							 ut aliquip ex ea commodo consequat. Duis autem vel eum iriure 
							 dolor in hendrerit in vulputate velit esse molestie consequat, 
							 vel illum dolore eu feugiat nulla facilisis at vero eros et 
							 accumsan et iusto odio dignissim qui blandit praesent luptatum 
							 zzril delenit augue duis dolore te feugait nulla facilisi. 
							 Nam liber tempor cum soluta nobis eleifend option congue nihil 
							 imperdiet doming id quod mazim placerat facer possim assum. 
							 Typi non habent claritatem insitam; est usus legentis in iis 
							 qui facit eorum claritatem. Investigationes demonstraverunt 
							 lectores legere me lius quod ii legunt saepius. Claritas est etiam 
							 processus dynamicus, qui sequitur mutationem consuetudium lectorum. 
							 Mirum est notare quam littera gothica, quam nunc putamus parum claram, 
							 anteposuerit litterarum formas humanitatis per seacula quarta decima 
							 et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, 
							 fiant sollemnes in futurum.
						</p>
					</div>
				</div>
		 	</div>
		 </section>
		 
		
		
		
		
		 <section id="footer" data-speed="4" data-type="background">
		<div class="container-fluid">
			<div class="page-header">
				<h1>Final Section Headline <small>Some subtext goes here...</small></h1>
			</div>
		        <div class="col-md-4">
		          <h2>More Details</h2>
		          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
		          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
		          <p><a class="btn btn-success">View details &raquo;</a></p>
		        </div><!-- /.span4 -->
		        <div class="col-md-4">
		         	<h2>Heading</h2>
		         	<div class="media">
						<!-- <a class="pull-left" href="#">
					    	<img class="media-object" src="images/check.png">
						</a> -->
						<div class="media-body">
						    <h4 class="media-heading">Media heading</h4>
						    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
						</div>
					</div>
		         	<div class="media">
						<a class="pull-left" href="#">
					    	<!-- <img class="media-object" src="images/check.png"> -->
						</a>
						<div class="media-body">
						    <h4 class="media-heading">Media heading</h4>
						    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
						</div>
					</div>
		         	<div class="media">
						<a class="pull-left" href="#">
					    	<!-- <img class="media-object" src="images/check.png"> -->
						</a>
						<div class="media-body">
						    <h4 class="media-heading">Media heading</h4>
						    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
						</div>
					</div>
		        </div><!-- /.span4 -->
		        <div class="col-md-4">
		          <h2>Log In</h2>
		          <form class="form">
					  <div class="control-group">
					    <label class="control-label" for="inputEmail">Email</label>
					    <div class="controls">
					      <input type="text" id="inputEmail" placeholder="Email">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputPassword">Password</label>
					    <div class="controls">
					      <input type="password" id="inputPassword" placeholder="Password">
					    </div>
					  </div>
					  <div class="control-group">
					    <div class="controls">
					      <label class="checkbox">
					        <input type="checkbox"> Remember me <br><br>
					      </label>
					      <button type="submit" class="btn btn-success">Sign in</button>
					    </div>
					  </div>
					</form>
		        </div><!-- /.span4 -->
	    	</div>
	</section>		
			 <!-- Sidebar starts here
			 <div id="sidebar" class="col-md-3">
			 	{% block sidebar %}
					<h1>Properties</h1>
						{% for entity in entities2 %}					
							<div id="sidebar_content">
								<a href="#"><img src="{{ entity.propertyImage }}" /> {{ entity.propertyName }}</a>																			
							</div>														
						{% endfor %}
				{% endblock %}		
			 </div>  Sidebar ends -->
			 
			 
		 <!-- </div> <!-- end of container -->	 
		<!-- <div class="container-fluid">
		 <div id="footer">
						{% block footer %}							
								<div class="col-md-3 foot_box">
									<p>Box here</p>
								</div>
								<div class="col-md-3 foot_box">
									<p>Box here</p>
								</div>
								<div class="col-md-3 foot_box">
									<p>Box here</p>
								</div>							
								<div class="col-md-3 foot_box">
									<p>Box here</p>
								</div>												
						{% endblock %} 
					</div>	<!-- End of footer
		</div> 	 -->

{% endblock %}
{% block javascripts %}	
	<script src="{{ asset('bundles/joneblog/js/jquery.js') }}"></script>
	<script src="{{ asset('bundles/joneblog/js/jquery.cslider.js') }}"></script>
	<script src="{{ asset('bundles/joneblog/js/modernizr.custom.28468.js') }}"></script>	
	<script src="{{ asset('bundles/joneblog/js/init.js') }}"></script>
	<script>
		$(function() {			
			$('#da-slider').cslider({
				autoplay	: true,
				interval    : 5000 
			});						
		 }); //End of main function
	</script>	
 {% endblock %}